@model StatisticsForecast

@{
    ViewBag.Title = "Weather forecast statistics";
    Layout = "_Layout";
}

<h2>Weather forecast statistics</h2>

<div class="container">
    <p>@Model.ToString()</p>
</div>